@charset "UTF-8";

/* Fontawesome 4.7 */
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

/* Google Web Fonts CDN */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700,900&display=swap');



body {
	margin: 0;
	font-family: 'Noto Sans KR', sans-serif;
	color: #222;
	line-height: 1.Gem;
	background-color: #f4f4f4;
	font-weight: 300;
	
	/*창 가운데 배치 */
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

section {
	width: 800px;
}



/* Heading */
.heading {
/* 	border: 1px solid red; */
}

.heading h1 {
	font-size: 30px;
	text-align: center;
}

.heading h1 span {
	color: crimson;
}

.heading input[type=text] {
	outline: none;
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	border: none; /* 검색바 외곽선 지우기 */
	border-bottom: 2px solid #ddd; /* 검색바 아래에만 라인주기 */
	
	/* 검색창 안에 아이콘 넣기 */
	background: #fff url("../images/search-icon.png") no-repeat center left 5px; 
	background-size: 23px; /* 아이콘 사이즈 조절 */
	padding-left: 35px; /* 아이콘과 자동입력 문구 사이 간격조절 */
}

.heading input[type=text]::placeholder {
	font-style: italic;
	color: blue;
}

.heading input[type=text]:focus::placeholder {
	/* 검색창 안의 글씨를 클릭하면 사라지게 하기 */
	opacity: 0; /* 클릭하면 글자색을 0으로 만들기 */
	transition: 0.5s; /* 글자 사라지는 시간을 0.5초로, 애니메이션 효과 */
	color: red; /* 위의 기본글씨색과 여기 글씨색을 다르게 지정하면 색이 변하면서 사라짐  */
}



.tab-inner {
	margin-top: 30px;
}

.btn {
	list-style: none;
	padding: 0;
	margin: 0;
	overflow: hidden;
	margin-left: 10px;
}

.btn li {
	float: left;
 	width: 120px;
 	text-align: center;
 	border-right: 1px solid #ddd;
 	padding: 5px;
 	border-top: 2px solid transparent;
}

.btn li:last-child {
	width: 170px; 	/* li의 마지막 자식, 제일 끝칸만 넓이 재조정 */
	border-right: none;
}

.btn li:hover,
.btn li.active {
	background-color: #fff;
	border-top: 2px solid crimson;
}

.tabs {
/* 	border-bottom: 2px solid #ddd; */
}

.tabs div {
	background-color: #fff;
	padding: 20px;
	box-sizing: border-box; /* 글자수에 따라 박스사이즈 변하지 않게하기 */
	display: none;
	height: 100%;
}

.tabs div.active {
	display: block;
}



/* tab content */
.tabs div h2 {
	text-align: center;
}

.tabs div img {
	float: left;
	margin-right: 10px;
}

.tabs div p {
	overflow: hidden;
	text-align: justify; /* 본문 양끝정렬 */
}

